<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  

   <h3>Пулы</h3>

  <% if !@pools.nil? %>
  <% @pools.each do |pool| %>
    <%= label_tag(pool.id, pool.name, class: 'checkbox') do %>
      <%= check_box_tag('pool[]', pool.id, !QuestionPool.find_by(question_id: @question.id, pool_id: pool.id).nil?) %>
      <%= pool.name %>
    <% end %>
    
  <% end %>
  <% end %>

  <h3>Варианты ответов</h3>
  <% if !@options.nil? %>
    <% @options.each do |option| %>
    <%= label_tag(option.id, option.text, class: 'checkbox') do %>
      <%= check_box_tag('option[]', option.id, Option.find(option.id).correct ) %>
        <%= option.text %>
      <% end %>
    <% end %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
