<h1>Список вопросов</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.content %>
          <% if question.pools.any? %>
            (
              <% question.pools.each do |pool| %>
                <%= pool.name + ' - ' %> 
              <% end %>
            )
          <% end %>
        </td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

       <tr>
       
        <td colspan="4">
          <ul>
          <% question.options.each do |option| %>
          <li>
            <%= option.text  %> <%= link_to 'Редактировать', edit_option_path(option) %>
          </li>   
           <% end %> 
         </ul>


        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый вопрос', new_question_path %>
<%= link_to 'Список пулов', pools_path %>
<%= link_to 'Список вариантов', options_path %>
