<h1>Listing pools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
      <tr>
        <td><%= pool.name %></td>
        <td><%= link_to 'Show', pool %></td>
        <td><%= link_to 'Edit', edit_pool_path(pool) %></td>
        <td><%= link_to 'Destroy', pool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
       
        <td colspan="4">
          <ul>
          <% pool.questions.each do |question| %>
          <li>
            <%= question.content  %> <%= link_to 'Редактировать', edit_question_path(question) %>
          </li>   
           <% end %> 
         </ul>


        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pool', new_pool_path %>
