<%= form_for(@option) do |f| %>
  <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    
    <%= f.label :quesion_id, 'Для какого вопроса данный ответ' %>
    <%= f.collection_select :question_id, Question.all, :id, :content %>
  </div>  

  <div class="field">

 
    <%= f.label :text, 'Введите текст ответа' %>
    <%= f.text_area :text, size: '80x5' %>
  </div>
  <div class="field">
    <h4> Отмечаем если ответ правильный </h4>
    <%= f.label :correct do %>
    <a href="#" class="btn btn-success btn-mini disabled"><i class="icon-white icon-ok"></i></a> <%= f.check_box :correct %> Этот ответ правильный 
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
